html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    border: solid pink 2px;
}